!!! 5
%body
  %div.container
    %div.starter-template
      - @sources.each do |source|
        %div.content
          %div.content.image
            %img{ src: source.image.medium.url }
          %div.content
            %ul.content
              %li
                %h2= source.name 
              %li
                %a{ :href => 'http://' + source.website }
                  %p.lead= source.website
              %li= source.description
