!!! 5
%body
  %div.container
    %div.starter-template
      - @sources.each do |f|
        %div.content
          %div.content.image
            %img{ src: f.image.medium.url }
          %div.content
            %ul.content
              %li
                %h2= f.name 
              %li
                %a{:href => 'http://' + f.website}>
                  %p.lead= f.website
              %li= f.description
