!!! 5
%body
  %div.container
    %div.starter-template
      %form.auth(action="/login" method="post")
        %div.input-group
          %span.input-group-addon#basic-addon1(for="email" style="width: 50%;")Email:
          %input.form-control(type="text" name="email" aria-describedby="basic-addon1")
        %div.input-group
          %span.input-group-addon#basic-addon1(for="password" style="width: 50%;")Password:
          %input.form-control(type="password" name="password" aria-describedby="basic-addon1")
        %div.input-group
          %input.btn.btn-primary.btn-block(type="submit" value="Login")
        %div.input-group
          %p
            %a{:href => "/signup"} Signup 
            ="for more features"

