@import bootstrap;
/*Flash messages */
.notice { color: green; }
.error { color: red; }

/* Header 
ul.header {
  color: black;
  float: left;
}
div.header {
  background-color: black;
  position: fixed;
  width: 100%;
  height: 50px;
  right: 0;
  left: 0;
  top: 0;
}
*/
